h1{
    text-align: center;
    color:honeydew;
}
body {
    text-align: center;
    background-color: rgb(0, 195, 255);
}
table{
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;  
    width: 70%;
    background: grey;
    color:rgb(48, 252, 201);
    border: 50px;
}
tr{
    text-align: center;
    height: 40;
    border: 50px;
    border-color: white;
    font-size: 25;
}
#head{
    height: 100;
    color: aqua;
    background-color: rgb(46, 130, 199)
}